/* COLOR VARIABLES */

$color-primary: lightblue;

$color-secondary: "";

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-light-1: #ffffff;
$color-dark-1: #000;
$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;

/* header */
$header-bg: #87509c;
$nav-link-bg: #643a79;

/* service-section */
$services-bg: #17c2a4;

/* team-section */
$team-bg: #e7f1f8;
$team-color: #3c4761;

$btn-primary-bg: #eb7d4b;
/* /COLOR VARIABLES */

/* FONT VARIABLES */

$font-primary: "Titillium Web", sans-serif;
/* /FONT VARIABLES */

/* Default font size */

$default-font-size: 1.6rem;

/* /Default font size */

/* Container max-width */

$max-width: 114rem;

/* Body min-width */

$min-width: 20rem;    // 320px;

/* /Body min-width */

/* /Container max-width */

/* RESPONSIVE BREAKPOINTS (width) */

$bp-largest: 75em;   // 1200px;
$bp-large: 62.5em;   // 1000px;
$bp-medium: 50em;    // 800px;
$bp-small: 37.5em;    // 600px;


/* /RESPONSIVE BREAKPOINTS (width) */

/* RESPONSIVE BREAKPOINTS (height) */

$bp-height-normal: 37.5em;   // 600px;

/* /RESPONSIVE BREAKPOINTS (height) */


/* Transition speed */

$transition-speed: 0.3s;
$transition-speed-nav: 0.2s;

/* /Transition speed */



